main 
    width: 100%
    height: 100%

    display: flex
    align-items: center
    justify-content: center
    .my-container
        width: 60%
        height: fit-content

        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        gap: 10px
        .my-flip-card
            width: 200px
            height: 300px
            // perspective: 1000px
            .my-flip-card-container
                    position: relative
                    width: 200px
                    height: 300px
                    transition: transform 0.8s
                    transform-style: preserve-3d
                    .my-flip-card-up
                        position: absolute
                        width: 200px
                        height: 300px
                        backface-visibility: hidden
                        .img-up
                            width: 200px
                            height: 300px
                    .my-flip-card-down
                        position: absolute
                        width: 200px
                        height: 300px
                        transform: rotateY(180deg)
                        backface-visibility: hidden
                        .img-down
                            width: 200px
                            height: 300px
            .rotate
                transform: rotateY(180deg)
            